body{
    padding:0px;
    margin:0px;
    border:0px;
    font-family: 'verdana';
}


/* It hides the default scrollbar */
body::-webkit-scrollbar{
    display: none;
  }


#top-heading{
    padding:0px;
    margin:0px;
    width:100%;
    height:17%;
     background-image: url("../Banner.jpg"); 
    /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover;  
    font-family:'verdana';

}

#top-heading h1{
    font-size:2vw;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#searchbar{
    font-size:1vw;
    width:19vw;
    border-radius:1.5vw;
    padding-top:0.3vw;
    padding-bottom:0.3vw;
    padding-left:0.60vw;
    border:0.1vw solid black;
}

#search-icon{
    background-color: transparent;
    border:0px;
    margin-left:0px;
    display: inline;
    padding:0px;
}





#phone{
    font-size:1.2vw;
    color:white;
}



#menu{

    background-color: black;
    color:white;

}

#menu td{
    padding-top:22px;
    padding-bottom:22px;
    padding-left:32px;
    padding-right:32px;
    font-size:17px;
    font-family: 'verdana','Roboto';
}

#menu a{
    text-decoration: none;
    color:white;
}

#banner{
    padding:0px;
    margin:0px;
    border:0px;
}

#about-us{
    padding:0px;
    margin:0px;
    border:0px;
    
    
}

#about-us h3{
    text-align:center;
    color:black;
    font-size:20px;
    /*box-shadow:  15px 20px 15px #0f0e0e;*/
}

#about-us p{
    align-items: center;

}

#para{
    width:90%;
    height:500px;
    font-size:20px;
    font-weight:500;
    line-height: 37px;
   text-indent: 100px;
    margin:auto;
    color:blue;
    font-style: italic;
    padding-left:25px;
    padding-right:10px;
    font-family:'Roboto';
    align-items: center;
    border:4.2px solid blue;
    border-radius:15px;
    box-shadow: 4px 9px 26px 14px rgba(0,0,0,0.45),
    25px 0px 20px -20px rgba(0,0,0,0.45),
    0px 25px 20px -20px rgba(0,0,0,0.45),
    -25px 0px 20px -20px rgba(0,0,0,0.45);
   /* box-shadow:  15px 20px 15px #0f0e0e ,15px 20px 15px #0f0e0e ,15px 20px 15px #0f0e0e, 15px 20px 15px #0f0e0e ;*/
}

#know-more{
    font-size:20px;
    font-weight: bold;
    padding:10px;
    margin-left:30px;
    background-color:red;
    border-radius:10px;
    color:white;
}




